body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.scroll {
    overflow: auto;
}


.contenedor-entero {
    background: url('../img/elementos.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.redes-custom {
    clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%);
    background-color: #0d3b66;
    display: flex;
}

.redes-custom h5 {
    margin-left: 10px;
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

.redes-custom svg {
    margin-top: 5px;
    margin-left: 30px;
    color: white
}

.redes-custom1 {
    background-color: #b94866;
    display: flex;
}

.redes-custom1 svg {
    margin: 6px;
    color: white;
    margin-left: 25px;
    margin-top: 8px;
}

.redes-custom1 h5 {
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

.redes-custom2 {
    background-color: #b94866;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
    max-height: 80px;
}

.redes-custom3 {
    background-color: white;
    max-height: 80px;
}

.redes-custom4 {
    background-color: #b94866;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
    max-height: 80px;
}

.redes-custom5 {
    background-color: white;
    max-height: 80px;
    border-top: solid 3px #ccc;
}

.redes-custom6 {
    background-color: #b94866;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
    max-height: 80px;
}

.redes-custom7 {
    background-color: white;
    max-height: 80px;
    border-top: solid 3px #ccc;
}

.redes-custom8 {
    background-color: #b94866;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
    max-height: 80px;
}

.redes-custom9 {
    background-color: white;
    max-height: 80px;
    border-top: solid 3px #ccc;
}


.container-fluid img {
    max-width: 70%;
    height: auto;
    padding: 5px;
    padding-top: 4px;
}

.collapse {
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.collapse a {
    font-size: 13px;
    color: #34495E;
    display: inline-block;
    transition: all 0.2s ease;
}

.collapse li a:hover {
    color: #b94866;
    transform: scale(1.05);
    font-weight: bold;
}

.collapse li {
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;
}

.nav-link1 {
    color: #b94866 !important;
    font-weight: bold;
    text-decoration: none;
    padding-top: 8px;
}

.nav-link2 {
    color: #b94866 !important;
    font-weight: bold;
    text-decoration: none;
    padding-top: 8px;
}

.dropdown-menu {
    color: #b94866;
}

.nav-link:focus {
  color: #b94866 !important;
  text-decoration: none;
  outline: none;
}

.texto-main1 {
    height: 100vh;
    background-color: #0008;
}

.texto-main1 h4 {
    font-size: 17px;
    color: white;
    margin-bottom: 20px;
    padding-left: 18%;
    padding-top: 17%;

}

.texto-main1 h2 {
    font-size: 60px;
    color: white;
    margin-left: 18%;
}

.btn-main {
    margin-left: 18%;
}

.btn {
    border-radius: 0px !important; /* Para quitar el border-radius del button de bootstrap */
    border: 2px solid white !important;
    background-color: #b94866 !important;
    color: white !important;
    width: 150px;
    height: 55px;
    margin-bottom: 2%;
    margin-top: 3%;
}

.btn:hover {
    background-color: #34495E !important;
}


.texto {
    display: flex;
    gap: 10px;
}

.texto h5 {
    margin: 4px;
    color: #747171;
    margin-bottom: 15px;
}

.texto1 {
    display: flex;
    gap: 10px;
}

.texto1 h5 {
    margin: 4px;
    color: #747171;
    margin-bottom: 20px;
}

.texto1 svg {
    width: 30px;
    height: 30px;
    color: #747171;
    margin-left: 20px;
}

.form-label1 {
    color: #b94866;
    margin-left: 140px;
    margin-bottom: 10px;
}

.form-label2 {
    color: #b94866;
    margin-left: 110px;
    margin-bottom: 10px;
}

.form-label3 {
    color: #b94866;
    margin-left: 45px;
    margin-bottom: 10px;
}

.form-label4 {
    color: #b94866;
    margin-left: 70px;
    margin-bottom: 10px;
}

.texto svg {
    width: 30px;
    height: 30px;
    color: #747171;
    margin-left: 60px;
}

.contenedor-control {
    height: 71vh;
}

.form-container1 {
    padding-left: 8%;
    padding-right: 8%;
    width: 45%;
    padding-top: 3%;
    margin-left: 26%;
    border-top: solid 1px #ccc;
    margin-top: 20px;
    margin-right: auto;
}

.form-container2 {
    padding-left: 8%;
    padding-right: 8%;
    width: 45%;
    padding-top: 5%;
    margin-left: 26%;
    border-top: solid 1px #ccc;
    margin-top: 20px;
    margin-right: auto;
}

.container-login .btn {
    margin-left: 105px;
    width: 115px;
    height: 40px;
    margin-bottom: 20px;
}

.site-footer {
    padding: 1%;
    background-color: #b94866;
    color: white;
    text-align: center;
    width: 100%;
}

.site-footer h5 {
    font-size: 13px;
}

.site-footer h6 {
    font-size: 11px;
}

.recuperar {
    text-decoration: none;
    color: #747171;
    padding-left: 24%;
}

.recuperar:hover {
    color: #34495E;
}

.registro {
    text-decoration: none;
    color: #747171;
    padding-left: 35%;
}

.registro:hover {
    color: #34495E;
}

.texto-form {
    margin-top: -10px;
}

.texto-form p {
  margin: 2px; 
}

.formulario {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 900px;
    padding-top: 3%;    
    margin-left: 10%;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-top: 30px;
    border-top: solid 1px #ccc;
}

.formulario input.form-control {
    height: 30px;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

.form-label {
    font-size: 14px;
    color: #b94866;
}

.info {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #4c4b4b;
}

.info h6 {
    font-size: 14px;
    color: #4c4b4b;
    margin-bottom: 35px;
}

.info1 {
    margin-bottom: 6px;
    margin-top: -40px;
    font-size: 14px;
    color: #4c4b4b;
    font-weight: bold;
}

.info2 {
    margin-bottom: 6px;
    font-size: 14px;
    color: #4c4b4b;
    font-weight: bold;
    margin-top: -40px;
}

.info2 p {
    font-size: 11px;
    font-family: arial;
    margin-bottom: 3px;
    margin-top: 5px;
}

.input-custom {
    width: 50%;
    margin-top: 10px;
}

.final p {
    font-size: 11px;
    margin-left: 34%;
    font-weight: bold;
    color: #4c4b4b;
    margin-bottom: 3px;
    margin-top: 30px;
}

.final .btn {
    width: 130px;
    height: 40px;
    margin-left: 40%;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid !important;
    border-color: #34495E !important;
}
